.Comment-titles {
    display: grid;
    grid-template-columns: 85% 15%;
}

.Comment-subtitles{
    margin-bottom: 10px;
}

.Comment-timestamp {
    padding-bottom: 3px;
}

.Comment-button-container {
    text-align: right;
}

.Comment-button {
    margin-left: 5px;
}

.Comment-input {
    margin-top: 10px;
}